body {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin: 1rem;
  background-color: aquamarine;
  padding: 2rem;
  width: 100%;
}
main h2 {
  font-size: 3rem;
  color: #234cad;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  text-align: center;
  margin: 0;
}
main h5 {
  color: #234cad;
  font-family: "Nunito", sans-serif;
  margin: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.satu {
  background-color: #f2f6ff;
  display: flex;
  border: none;
  border-radius: 20px;
  margin: 2rem auto;
  padding: 0;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: start;
}

.satu svg {
  position: absolute;
  left: 43rem;
  /* background-color: black; */
}
.card1 {
  /* position: fixed; */
  position: relative;
  display: flex;
  height: 100px;
  padding: 1rem;
  margin: 6.5rem;
  justify-content: center;
  align-items: center;
  left: 50rem;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  gap: 10px;
}
.textContent1 h3 {
  color: #234cad;
  align-self: center;
  top: 1rem;
  font-family: "Nunito";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 131.25% */
  position: absolute;
}
.textContent1 p {
  color: #234cad;
  position: relative;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 131.25% */
  margin-top: 3.2rem;
}
.card1 span {
  align-self: baseline;
  color: #234cad;
  font-family: "Nunito";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  opacity: 80%;
  line-height: 13px; /* 130% */
}
.card1 button {
  background-color: #f2f6ff;
  border-radius: 50px;
  border: none;
  font-size: 1.5rem;
  padding: 20px;
  width: 75px;
  height: 75px;
}

.card2 {
  background-color: #fff;
  margin: 20rem auto;
  height: 10%;
  position: relative;
  right: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border: none;
  border-radius: 20px;
}
